/* font-family: 'Martel Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

* {
  background: #141414;
}

.navLink {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 16px;
  font-size: 13px;
  font-family: "Martel Sans", sans-serif;
}

.first {
  margin-left: 0;
  padding-left: 22px;
}

.title {
  display: inline-block;
  color: rgba(229, 9, 20, 1);
  margin: auto;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 5vmin;
  font-weight: 700;
  border-bottom-left-radius:-50%;
  border-bottom-right-radius:-50%;
}

.hoverItem {
  margin-left: 18px;
}

.hoverItem:hover {
  cursor: pointer;
}

.contentBody {
  width: 90%;
  margin: 0 auto;
}
