/* font-family: 'Martel Sans', sans-serif; */

* {
  background: black;
}

.navLink {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 16px;
  font-size: 13px;
  font-family: "Martel Sans", sans-serif;
}

.first {
  margin-left: 0;
  padding-left: 22px;
}

.title {
  display: inline-block;
  color: rgba(229, 9, 20, 1);
  margin: auto;
  font-size: 22px;
  text-decoration: none;
  font-family: "Martel Sans", sans-serif;
}

.hoverItem {
  margin-left: 18px;
}

.hoverItem:hover {
  cursor: pointer;
}

.contentBody {
  width: 90%;
  margin: 0 auto;
}
